*.Rproj
*.Rproj.user
.DS_Store

# folder
figure/*
scripts/deprecated/*
data/deprecated/*
data/experimental_scheme/deprecated/*
document/*

data/raw/farmer_mapping_files/*.pdf
data/experimental_scheme/*.pdf
.Rproj.user
